@import url("https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap");
:root {
  --primaary: #2a0944;
  --primary: linear-gradient(125deg, rgb(42, 9, 68) 20%, rgb(161, 0, 53) 70%);
  --secondary: #3fa796;
  --tertiary: #fec260;
  --button: #a10035;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Oleo Script Swash Caps", cursive;
  font-family: "Quicksand", sans-serif;
  color: var(--tertiary);
  text-decoration: none;
}

body {
  background: var(--primary);
  overflow-x: hidden;
  padding: 0 5vw;
}

header {
  margin-left: 10px;
  max-width: 160px;
  border-radius: 63%;
  border-bottom-right-radius: 1%;
  border: 5px solid #2a0944;
  border-top: var(--tertiary);
  border-left: var(--tertiary);
  padding: 10px;
}

header h2{
  color: var(--primaary);
  margin-right: 10px;
}

nav {
  background: var(--tertiary);
  border-radius: 20px;
  padding: 10px;
  text-decoration: none;
}

.navWrapper{
  display: flex;
}

.navlist {
  display: flex;
  margin-left: auto;
  font-size: large;
  list-style: none;
  gap: 40px;
  
}

.navlink.active a{
  border-bottom: solid var(--button) 2px;
}

.navlink a {
  justify-content: space-between;
  text-decoration: none;
  color: var(--button);
  font-weight: 800;
padding: 10px;
}

.navlink a:hover {
  transition: 0.6s;
  text-shadow: 0.4em 0.4em 0.2em var(--button);
}

.hero {
  display: flex;
  padding: 80px 0;
  align-items: center;
  
}

.hero >*{
  flex: 1;
}
.hero .intro {
  font-size: 30px;
}

.hero .intro p {
  padding: 0;
  font-size: 1.4rem;
  margin: 30px 0;
}
.hero img {
  max-height: 570px;
  width: 100%;
}
.hero-banner h3{
  text-align: center;

}
.tech,
.projects,
.blogs {
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 2rem;
  margin: 2rem 0px;
  border-radius: 1rem;
  font-size: x-large;
}
.tech_img{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  
}
.tech_svg{
  animation-name: tech_animate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
max-height: 10%;
max-width: 10%;
}

img {
  max-height: 300px;
}

div p {
  margin: 25px;
  font-size: large;
}

h3 {
  text-shadow: 0.1em 0.3em 0.2em var(--button);
}

.btn {
  background: var(--primaary);
  padding: 10px;
  border-radius: 20px;
  border: var(--primary);
  margin: 15px;
  border-bottom: 3px solid var(--tertiary);
  border-left: 2px solid var(--tertiary);
  cursor: pointer;
  transition: all ease 0.3s;
}
.btn:hover{
  letter-spacing: 0px;
  transform: scale(1.35);
  border: none;
  transition: 0.5s;
}
@keyframes tech_animate
{
0% {transform: rotate(0deg);left:0px;}
25% {transform: rotate(20deg);left:0px;}
50% {transform: rotate(0deg);left:500px;}
55% {transform: rotate(0deg);left:500px;}
70% {transform: rotate(0deg);left:500px;}
100% {transform: rotate(-360deg);left:0px;}
}
footer {
  background: var(--tertiary);
  border-radius: 20px;
  padding: 20px;
  text-decoration: none;
  color: var(--button);
}

footer h2 {
  color: var(--button);
  text-align: center;
}

footer ul {
  text-align: center;
}
footer ul li{
  display: inline;
}
footer ul li a{
  color: var(--button);
}

@media screen and (max-width:700px) {
  header{
    margin: auto;
  }
  .navlist{
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: auto;
  }
  .hero{
    text-align: center;
    flex-direction: column;
    gap: 16px;
  }
  .hero-banner{
    order: -1;
  }
  .tech,
  .projects,
  .blogs {
    flex-direction: column;
    gap: 16px;
  }
  .projects img{
    order:-1;
  }
}