.container {
  display: flex;
  justify-content: space-between;
}

.container >*{
  flex: 1;
}

img {
  max-height: none;
}

.socialLinks{
  margin-top: 30px;
  position: relative;
}
.blank {
  color: var(--button);
  font-weight: bold;
  position: absolute;
  height: 358px;
  width: 256px;
  left: 16%;
  top: 3%;
  border-radius: 10px;
  z-index: 1;
  background-color: #fff;
  text-align: center;
}
.socialLinks #hero {
  z-index: -1;
  width: 100%;
}
.socialLinks a img {
  position: relative;
  max-height: 150px;
  height: 60px;
  width: auto;
  background-color: aliceblue;
  border-radius: 50%;
  border: 3px solid #fec260;
  z-index: 2;
}
#linkedin {
  position: absolute;
  left: 10%;
  top: 70%;
  height: 78px;
  padding: 0;
  transform: scale(1.2);
}
#twitter {
  position: absolute;
  top: 40%;
  right: 10%;
  transform: scale(1.6);
  padding: 0;
}
#github {
  position: absolute;
  left: 20%;
  top: 15%;
  padding: 0;
  transform: scale(1.6);
}

.ContactForm {
  text-align: center;
  margin: 23px;
}

input,
textarea {
  text-align: center;
  border-radius: 14px;
  color: var(--button);
  font-weight: bold;
  margin: 3%;
  font-size: 20px;
  padding: 10px;
  width: 100%;
  max-width: 400px;
  border-top: 5px solid #3c025b;
  
}
button {
  border-bottom: 3px solid #fec260;
  border-left: 2px solid #fec260;
  transform: scale(1.4);
}
button:hover {
  letter-spacing: 0px;
  transform: scale(1.35);
  border: none;
}
footer{
  display: none;
  flex-direction: row;
  justify-content: space-around;
  
}
footer a{
  width: 10%;
  height: 60%;
}
.footer_links{
  height: 100%;
  width: 100%;
  }

@media screen and (max-width:700px) {
  .container{
    margin-top: 30px;
    flex-direction: column;
    gap: 10vh;
  }
  .socialLinks{
    display: none;
  }
  footer{
    display: flex;
  }
}