#project_list {
  text-align: end;
  list-style: none;
}
.mark {
  padding: 10px;
  margin: 20px auto;
  min-height: 300px;
  transition: 0.3s;
  max-width: 800px;
}

.mark *{
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.mark-content{
  display: flex;
  justify-content: center;
  text-align-last: left;
  gap: 20px;
  padding: 10px;
}
.mark-content >*{
  flex: 1;
}

.mark-text-content{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h3 {
  text-shadow: none;
  color: #a10035;
  margin: 10px 0px;
  background: #fec260;
  padding: 5px;
  width: 60%;
  transition: ease-in 3s;
}
h3:hover {
  animation: mymove 2s;
}

img {
  width: 100%;
  z-index: -1;
}
.mark p {
  text-align: justify;
  padding: 0;
}

.btn-wrapper{
  display: flex;
  gap: 10px;
}

.btn{
  padding: 10px 15px;
  transform: scale(1);
}

.code {
  background: none;
  border: 3px dashed #fec260;
}
.code:hover{
  border: 3px dashed #fec260;
}
.demo {
  border: 3px dotted #fec260;
  border-left: none;
  border-right: none;
}
.demo:hover{
  border: 3px dotted #fec260;
}
.btn:hover,
.btn:focus-visible {
  transform: scale(1.1);
  letter-spacing: normal;
  transition: 0.4s;
}
@keyframes mymove {
  0% {
    width: 60%;
  }

  75% {
    width: 100%;
  }
  100% {
    width: 60%;
  }
}

@media screen and (max-width:700px) {
  #project_list{
    margin: 30px 0;
  }
  .mark{
    margin: 0;
  }
  .mark-content{
    flex-direction: column;
  }
  h3{
    text-align: center;
    width: 100%;
  }
  h3:hover{
    animation: unset;
  }
}